
Grupp_5_Garage_v2/.vs/Grupp_5_Garage_v2/DesignTimeBuild/.dtbcache.v2
Grupp_5_Garage_v2/.vs/Grupp_5_Garage_v2/v16/.suo
Grupp_5_Garage_v2/obj/Debug/net5.0/Grupp_5_Garage_v2.assets.cache
Grupp_5_Garage_v2/obj/Debug/net5.0/Grupp_5_Garage_v2.GeneratedMSBuildEditorConfig.editorconfig
Grupp_5_Garage_v2/obj/Grupp_5_Garage_v2.csproj.nuget.dgspec.json
Grupp_5_Garage_v2/obj/Grupp_5_Garage_v2.csproj.nuget.g.props
Grupp_5_Garage_v2/obj/project.assets.json
Grupp_5_Garage_v2/obj/project.nuget.cache
